<div class="modheader">
    <div style="float:left;"><img src="/images/mods/<%= mod.image %>" width="32" height="32"></div>
    <div class="text20b" style="float:left; padding-top: 2px; padding-left: 2px;"><%= mod.name %></div>
    <div style="clear:both"></div>
</div>
